.stats
	display grid
	grid-template-columns	1fr 1fr 1fr
	align-items	center
	justify-content center
	margin-bottom 	4rem
	padding 	1rem


.center
	text-align center
	color var(--fontcolor)
	position relative
	cursor pointer
	&:hover
		.word-stats
			opacity 1
	.speed
		letter-spacing	0.4em
		.value
			font-size 4rem
			text-shadow 0 0 3rem var(--fontcolor)


.left, .right
	display grid
	justify-content: center


.word-stats
	transition 200ms ease
	opacity 0
	pointer-events: none
	font-size 0.8rem
	padding-top 1rem
	position absolute
	width 600px
	bottom 0
	left 50%
	text-transform 	uppercase
	transform translate(-50%, 100%)
	display flex
	align-items center
	justify-content: center
	letter-spacing: 0.5em
	& > * + *
		margin-left 1rem
	.count
		font-size 	1.2rem
		text-shadow 0 0 20px var(--fontcolor)


.chase-mode
	// border 1px solid red
	text-transform uppercase
	letter-spacing: 0.5em
	justify-content center
	display flex
	align-items: center
	cursor pointer
	position relative
	width 25rem
	padding-bottom 0.7rem
	// padding-top 1em
	background: linear-gradient(to right,  var(--fontcolor), var(--typedword))
	background-size 100% 2px
	background-repeat: no-repeat
	background-position bottom

	&:hover
		.tip
			opacity 1

	.tip
		opacity 0
		transition 200ms ease
		position absolute
		color var(--activechar)
		max-width 400px
		text-align: center
		bottom 0
		pointer-events: none
		padding 1rem
		transform translateY(100%)

	.value
		font-size 2rem
		margin-left 10px
		transition 200ms ease
		&.on
			font-weight bold
			text-shadow  0 0 2rem var(--fontcolor)
