Stats
Words
Keys

.reset(on:click="{handleReset}") reset

.theme-switch(on:click='{themeChanger}')
   .s1
   .s2
   .s3
   .s4
   .theme-name
   .tip theme switcher

.cybertype
   .app cybertype
   .info
      .app
         .version &nbsp;V.1.0
      .creator
         p &nbsp;Designed by
         a(href='https://twitter.com/Manan__Tank' target='black') &nbsp;Manan Tank